:root {
    --light-bc: #EEEEEE;
    --light-text: #31363F;
    --light-accent: #7cb2df;
    --dark-bc: #31363F;
    --dark-text: #EEEEEE;
    --dark-accent: #7cb2df;
}

html {
    font-size: 45%;
}

.light {
    background-color: var(--light-bc);
    color: var(--light-text);
}

main {
    min-height: 50svh;
}

.dark {
    background-color: var(--dark-bc);
    color: var(--dark-text);
}

header {
    height: 10rem;
    border-bottom: 1rem solid var(--dark-accent);
}

#light-dark-button {
    background: transparent;
    border: none;
    font-size: 4rem;
    margin: 1rem 2rem;
}

#light-dark-button:hover{
    transition: all 250ms ease-in-out;
    font-size: 5rem;
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;
    border-top: 1rem solid var(--dark-accent);
    border-bottom: 1rem solid var(--dark-accent);
}

footer h2 {
    margin-top: .3rem;
    font-size: 2rem;
    text-align: center;
}

footer ul {
    font-size: 1.5rem;
    margin-left: 1rem;
    line-height: 1.8rem;
}

.footer-li-name {
    font-weight: bold;
    font-style: italic;
}

@media (min-width: 768px) {
    html {
        font-size: 62.5%;
    }

    #blog-title {
        flex: 1 1 40%;
        max-width: 50%;
    }
    
    #blog-entry {
        flex: 1 1 40%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    html {
    font-size: 70%;
}
}
